body{
	padding: 0px;
	margin: 0px;
}
#background_clip, #game_area{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}
#scroll{
	position:absolute;
	left:0px;
	top:0px;
}
canvas{
	position:absolute;
}

canvas {
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
                                                //  (Safari now, Chrome soon)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast;         // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE
}