body{
	padding: 0px;
	margin: 0px;
}
#background_clip, #game_area{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}
#scroll{
	position:absolute;
	left:0px;
	top:0px;
}
canvas{
	position:absolute;
}

canvas {
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
                                                //  (Safari now, Chrome soon)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast;         // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}


/*UI*/

#UI_overlay{
	width:100%;
	height:0px;
	position:absolute;
}

.ui_menu_dropdown{
  border-width: 0px;
 border-style: solid;
 border-color: rgba(0, 0, 0, 0.207843);
 position: relative;
 width: 100%;
 height: 0px;
 top: 4px;
 border-top-width: 1px;
 opacity: .2;
 padding-bottom: 2px;
 background-color: transparent;

 margin-bottom: 8px;

 z-index: 0;
 box-sizing: border-box;
 border-bottom-left-radius: 7px;
 border-bottom-right-radius: 7px;
 border-top-left-radius: 0px;
 border-top-right-radius: 0px;
  cursor: default;
  overflow:hidden;
}


.ui_button{
  border: 2px solid rgba(0, 0, 0, 0.388235);
 position: relative;
 width: auto;
 z-index: 26;
 width: 225px;
 background-color: rgba(100, 128, 219, 0.811765);
 padding: 3px 7px 0px 3px;
 float: left;
 margin: 50px;
 cursor:pointer;
}

.ui_button p{
 width: 100%;
 border: 2px solid rgba(255, 255, 255, 0.701961);
 margin: 0px;
 font-size: 15px;
 line-height: 1.5700000000000003;
 height: 23px;
 position: relative;
 margin: 2px 0px 0px;
 font-size: 12px;
 font-family: Arial;
 font-weight: normal;
 text-align: center;
 letter-spacing: 3px;
 line-height: 1.7800000000000002;
 color: rgb(255, 255, 255);
 text-shadow: black 2px 2px 5px;
 cursor: inherit;
}



.ui_menu_option{
  border-width: 1px 0px;
 border-style: solid;
 border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.729412) rgba(0, 0, 0, 0.729412);
 position: relative;

 height: 39px;
 margin: 4px 0px 0px 8px;
 background-color: rgba(0, 0, 0, 0.180392);
  cursor:pointer;
}

.ui_menu_option:hover{
  background-color: rgba(0, 0, 0, 0.380392);
}
.ui_menu_option:hover p, .ui_button:hover > p{
	color:white;
}

.ui_menu_option img{
  position: relative;
 display: block;
 left: 0px;
 top: 0px;
 float: right;
 margin: 4px;
 width:32px;
 height:32px;
}

.ui_menu_option p{
  width: 133px;
 height: 36px;
 position: relative;
 float: left;
 margin: 4px 0px 0px 5px;
 font-size: 14px;
 font-family: courier;
 color: rgb(181, 181, 181);
 text-align: left;
 border: 0px;
}


.ui_menu_option.active p,.ui_menu_option.active:hover p{
	color:orange;
	font-weight:bold;
}



#inspect{
	position:absolute;
	width:300px;
	right: 20px;
	top: 20px;
	height: 800px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow:hidden;
	color:silver;
	font-size: 12px;
	line-height: 1.1;
	font-family: courier;
}

.script_display{
	padding: 6px;
	border: 1px solid silver;
	white-space: pre;
	height:auto;
}

#inspect .current{
	background-color:#6d1c6e;
	color:white;
}

#inspect .script_vars{
	width:280px;
	height:280px;
	color: red;
	font-size: 10px;
}

#inspect .script_vars .column{
	float:left;
	width: 54px;
	
	}

#inspect .script_vars .entry{
	height:15px;

	overflow:hidden;
	border-bottom: 1px dashed gray;
	border-left: 1px solid gray;
	padding: 2px;
}